a { color:#0280E1; } 
a:visited { color:#0280E1; } 
a:active { color:#0280E1; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_8f68c31 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:475px; background-color:#AA967B; background-image: url(rc_images/262112_750x480_crop_57b7a9774fa9c.jpg); background-position:top right; background-size:cover;  }
#container_8f68c31_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:right; }
#container_61f95e0c { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:306px; background:none;  }
#container_61f95e0c_padding { margin: 10px; display: block;  }
.textstyle3 { text-align:left; }
.textstyle4 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFF80; font-weight:bold; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle6 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
#button_6a7bbee8 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:rgba(0, 128, 64, 0.196078); border: 2px solid #595959;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFF80; font-weight:bold;  }
.textstyle8 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
@media only screen and (max-width: 640px)
{
		#container_61f95e0c * span { font-size:12pt;  }
}
