a { color:#0280E1; } 
a:visited { color:#0280E1; } 
a:active { color:#0280E1; } 
a:hover { color:#B2B3B4; } 
#menu_30818d64 a { text-decoration: none; }
#menu_30818d64_pane { background-color: #FFFF80; border: 1px solid #000000; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 10px #888;}
#menu_30818d64_hr { background-color: #000000; height: 1px; border: none; }
#menu_30818d64_entry { padding-left: 10px; padding-right: 10px; padding-top: 8px; padding-bottom: 8px; }
#menu_30818d64_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_30818d64_entry:hover span { color:#FFFFFF !important; }
		.menu_30818d64_mainMenuEntry { text-align: center; }
		#menu_30818d64 .mobileEntry { display: none; } 
		#menu_30818d64 .normalEntry { display: block; } 
		@media only screen and (max-width:640px) { 
			#menu_30818d64 .mobileEntry { display: block; } 
			#menu_30818d64 .normalEntry { display: none; } 
		}
#button_4f41ecfa { box-sizing: border-box; vertical-align: bottom; border-radius: 6px; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:150px; height:40px; background-color:rgba(255, 255, 0, 0.196078); border: 2px solid #FFFFFF;  }
#button_4f41ecfa:hover { background-color:rgba(255, 255, 255, 0.196078); border-color:#CDCDCD;  }
#button_4f41ecfa:hover span { color:#000000; }
#button_548ef2b6 { box-sizing: border-box; vertical-align: bottom; border-radius: 6px; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:150px; height:40px; background-color:rgba(255, 255, 0, 0.196078); border: 2px solid #FFFFFF;  }
#button_548ef2b6:hover { background-color:rgba(255, 255, 255, 0.196078); border-color:#CDCDCD;  }
#button_548ef2b6:hover span { color:#000000; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_11641a92 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:65px; background-color:#2C2C2C; background: linear-gradient(to bottom, #7F7F7F, #2C2C2C);  }
#container_11641a92_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:right; }
#container_455adee5 { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:45px; background:none;  }
#container_455adee5_padding { margin: 10px; display: block;  }
#menu_30818d64 { vertical-align: bottom; position:relative; display: inline-block; width:407px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:82px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle3 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
.style3 { position:absolute; width:52px; height:38px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:27px;  }
.textstyle4 { font-size:15pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFF80; font-weight:bold;  white-space: nowrap; }
.style5 { position:absolute; width:74px; height:38px; left:62px;  }
.style6 { position:absolute; width:92px; height:38px; left:136px;  }
.style7 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:24px;  }
.textstyle5 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFF80; font-weight:bold;  white-space: nowrap; }
.textstyle6 { font-size:14pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
#container_76b73786 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:475px; background-color:#AA967B; background-image: url(rc_images/1.png); background-position:center center; background-size:cover;  }
#container_76b73786_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle10 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
#container_3dae042d { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:rgba(0, 128, 64, 0.196078);  }
#container_3dae042d_padding { margin: 10px; display: block;  }
.textstyle11 { text-align:left; }
.textstyle12 { font-size:16pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFF80; font-weight:bold; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle13 { font-size:16pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold;  }
.textstyle14 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle15 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
@media only screen and (max-width: 640px)
{
		#menu_30818d64 { width:150px;  }
		#container_3dae042d * span { font-size:12pt;  }
}
